body {
    background: url(fon.jpg);
    background-size: cover;
} 

.text {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal
    
}
header {
    background: linear-gradient(#FFB733,#FFDB99);
}

.big {
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-style: none;
}

a:hover {
    color: blue;
    
}

.tab {
    background-color: #FFDB99;
    border-color: rgb(25, 196, 39);
    border-radius: 1cm;
    padding: 10px;
}

a{
    text-decoration: none;
}
.uni {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}